<div id="examples_table" style="visibility:hidden">
<table id="examples_table_body">
    <tbody>
        <tr>
            <td>1:1000 - 1:5000</td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR074_01ESCHSURALZETTE_REFERENCE_DETAIL01_v1_100dpi.jpg" target="_blank">Reference</a></td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR074_01ESCHSURALZETTE_GRADING_DETAIL01_v1_100dpi.jpg" target="_blank">Delineation or Grading</a></td>
        </tr>
        <tr>
            <td>1:10000 - 1:15000</td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR098_01KONISKOS_REFERENCE_DETAIL01_v2_100dpi.jpg" target="_blank">Reference</a></td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR098_01KONISKOS_DELINEATION_DETAIL01-MONIT01_v3_100dpi.jpg" target="_blank">Delineation or Grading</a></td>
        </tr>
        <tr>
            <td>1:15000 - 1:20000</td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR087_04ORASJE_REFERENCE_DETAIL01_v2_100dpi.jpg" target="_blank">Reference</a></td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR087_04ORASJE_DELINEATION_DETAIL01_v2_100dpi.jpg" target="_blank">Delineation or Grading</a></td>
        </tr>
        <tr>
            <td>1:20000 - 1:50000</td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR044_04TORGAU_REFERENCE_OVERVIEW_v1_200dpi.jpg" target="_blank">Reference</a></td>
            <td><a href="http://emergency.copernicus.eu/mapping/system/files/components/EMSR044_04TORGAU_DELINEATION_OVERVIEW_v1_200dpi.jpg" target="_blank">Delineation or Grading</a></td>
        </tr>
    </tbody>
</table>
</div>
