{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="mapper"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mapper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static "bower_components/leaflet-dist/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/leaflet.draw/dist/leaflet.draw.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
  </head>
  <body ng-controller="MapController">
    
    <div class="map col-md-8 pull-left" id="map">
        <leaflet center="center">
        </leaflet>
    </div>
    <div class="pull-left">
        {% verbatim %}
        <button type="submit" class="kml-export btn btn-primary" ng-disabled="rectanglesLength()==0" ng-click="exportKML()">Export KML</button>
        {% endverbatim %}
        <h3>Areas of interest</h3>
        <div class="features">
            {% verbatim %}
            <article class="feature" ng-repeat="feature in rectangles" ng-controller="FeatureController" id="feature-{{feature._leaflet_id}}" ng-click="feature.selectFeature()">
                <label>Title</label>
                <input type="text" ng-model="feature.title"></input></br>
                <label>Format</label>
                <select ng-model="feature.format" ng-options="format for format in formats"></select></br>
                <label>Orientation</label>
                <select ng-model="feature.orientation" ng-change="feature.switchOrientation()">
                    <option value="landscape" selected="selected">Landscape</option>
                    <option value="portrait">Portrait</option>
                </select></br>
                <label>Scale</label>
                 1: <input type="text"  ng-model="feature.scale" ng-keyup="$event.keyCode == 13 ? feature.recalculate_bounds() : null"></input></br>
                <strong>North: </strong><span ng-bind="feature._latlngs[1].lat | number:5"></span></br>
                <strong>West: </strong><span ng-bind="feature._latlngs[1].lng | number:5"></span>
            </article>
            {% endverbatim %}
        </div>
    </div>
    {% csrf_token %}
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{% static "bower_components/jquery/jquery.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "bower_components/leaflet-dist/leaflet.js" %}"></script>
    <script src="{% static "bower_components/leaflet.draw/dist/leaflet.draw.js" %}"></script>
    <script src="{% static "bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js" %}"></script>
    
    <!-- endbower -->
    <!-- endbuild -->

    <script>
      window.CLOSURE_NO_DEPS = true;
      window.CLOSURE_BASE_PATH = ".";
    </script>

    <script src="{% static "bower_components/closure-library/closure/goog/base.js" %}"></script>

    <script src="{% static "deps.js" %}"></script>
    <script>
        goog.require('mapper');
    </script>
    <script>
    var module = angular.module('mapper');
      // Configure general ajax parameters
      module.config(function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = $('input[name=csrfmiddlewaretoken]').val();
      });
    </script>
</body>
</html>
