{% load staticfiles %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="mapper"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mapper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{% static "bower_components/leaflet-dist/leaflet.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/leaflet.draw/dist/leaflet.draw.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "bower_components/leaflet.fullscreen/Control.FullScreen.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/main.css' %}">
  </head>
  <body ng-controller="MapController">
    
    <div class="map col-md-8 pull-left" id="map">
        <leaflet center="center" layers="layers">
        </leaflet>
    </div>
    <div class="pull-left" id="sidebar">
        <button type="submit" class="kml-export btn btn-primary btn-xs" ng-disabled="rectangles.length==0" ng-click="exportKml()">Export KML</button>
        <button type="submit" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#upload_kml">Import KML</button>
        <button type="submit" class="zoom-all btn btn-primary btn-xs" ng-disabled="rectangles.length==0" ng-click="zoomAll()">Zoom All</button>
        <h3>Areas of interest</h3>
        <div class="features">
            {% verbatim %}
            <article class="feature" ng-repeat="feature in rectangles" ng-controller="FeatureController" id="feature-{{feature._leaflet_id}}" ng-click="feature.selectFeature()">
                <label>Title:</label>
                <input type="text" ng-model="feature.title"></input></br>
                <label>Format:</label>
                <select ng-model="feature.format" ng-change="feature.updateInnerBox()" ng-options="format for format in formats"></select></br>
                <label>Orientation:</label>
                <select ng-model="feature.orientation" ng-change="feature.switchOrientation()" class="feature-orientation">
                    <option value="landscape" selected="selected">Landscape</option>
                    <option value="portrait">Portrait</option>
                </select></br>
                <label>Scale</label>
                 1: <input type="text"  ng-model="feature.scale" ng-keyup="$event.keyCode == 13 ? feature.recalculate_bounds() : null" class="feature-scale"></input></br>
                <strong>Lat: </strong><span ng-bind="feature._latlngs[1].lat | number:4"></span>
                <strong>Lng: </strong><span ng-bind="feature._latlngs[1].lng | number:4"></span></br>
                <button ng-click="feature.zoomToFeature()" class="btn btn-xs btn-primary">Zoom</button>
            </article>
            {% endverbatim %}
        </div>
    </div>
    <div class="modal fade" id="upload_kml" ng-controller="UploadController" ng-init="upload_enabled=false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Restore a map state from an existing KML</h4>
                </div>
                <div class="modal-body">
                    <p>You can only load a KML generated with this application, to restore the previously drawn maps.</p>
                    <input type="file" class="btn btn-sm" file-model="kmlFile"\>
                    <button class="btn btn-sm" id="submit_kml" ng-click="sendKml()" ng-disabled="upload_enabled==false">Upload KML</button>
                </div>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="{% static "bower_components/jquery/jquery.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <script src="{% static "bower_components/bootstrap/dist/js/bootstrap.js" %}"></script>
    <script src="{% static "bower_components/leaflet-dist/leaflet.js" %}"></script>
    <script src="{% static "bower_components/leaflet.draw/dist/leaflet.draw.js" %}"></script>
    <script src="{% static "bower_components/leaflet.fullscreen/Control.FullScreen.js" %}"></script>
    <script src="{% static "bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.js" %}"></script>
    
    <!-- endbower -->
    <!-- endbuild -->

    <script>
      window.CLOSURE_NO_DEPS = true;
      window.CLOSURE_BASE_PATH = ".";
      //override, leflet fullscreen to allow keyboard input
      fullScreenApi.requestFullScreen = function(el) {
        return (this.prefix === '') ? el.requestFullscreen() : el[this.prefix + 'RequestFullScreen'](Element.ALLOW_KEYBOARD_INPUT);
        };
    </script>

    <script src="{% static "bower_components/closure-library/closure/goog/base.js" %}"></script>

    <script src="{% static "deps.js" %}"></script>
    <script>
        goog.require('mapper');
    </script>
    <script>
    var module = angular.module('mapper');
      // Configure general ajax parameters
      module.config(function($httpProvider) {
        $httpProvider.defaults.headers.common['X-CSRFToken'] = $('input[name=csrfmiddlewaretoken]').val();
      });
    </script>
</body>
</html>
