/* Space out content a bit */
body {
    padding: 0;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial,"DejaVu Sans",sans-serif;
}

#wrapper { 
    margin: 0 auto;
    width: 1024px;
}

.angular-leaflet-map {
    height: 100%;
}

.map{
    height: 500px;
    border: 1px solid #C0C0C0;
    padding: 0px;
    min-width: 500px;
    max-width: 730px;
    width: 100%;
}

.feature{
    padding: 10px;
    border: 1px solid #C0C0C0;
    margin: 5px 10px;
}

.features{
    width: 205px;
    height: 433px;
    overflow: auto;
    position: relative;
}

h3{
  margin: 0.5em;
  margin-left: 15px;
  font-size: 16px;
  font-weight: bold; 
}

.utils{
  margin-top: 5px;
}
.kml-export{
  margin-left: 10px;
}

.first_menu_item{
  margin-left: 10px;
}

article h4{
  margin: 0;
  margin-top: 5px;
  font-size: 90%;
  color: #657FCB;
}

article input {
  max-width: 105px;
  padding: 0em 0.25em;
}

.feature-selected{
  border: 1px solid #FF9933;
  -moz-box-shadow: 0 0 8px #;
  -webkit-box-shadow: 0 0 8px #FF9933;
  box-shadow: 0px 0px 8px #FF9933;
}

.feature-scale{
  width: 80px;
}

.fullscreen{
  position: absolute;
  right: 20px;
  top: 200px;
  height: 680px;
  z-index: 9999999999;
  background: white;
  padding: 10px;
  border: 1px solid black;
}

.fullscreen .features{
  height: 520px;
}

#upload_kml, #upload_generic_kml{
  z-index: 99999999999;
}

.popover{
  z-index: 99999999999;
  max-width: 600px;
}

#decimal_degree{
  margin-left: 20px;
  margin-bottom: 10px
}

#examples_table_body  td{
  border: 1px solid gray;
  padding: 3px;
}